#sizer {
  display:block;
  font-weight:bold;
  font-size: 15px;
}
.write_div div img:not(.written_dccon) {
  display:none;
}
.write_div div video:not(.written_dccon) {
  display:none;
}
.write_div p img:not(.written_dccon) {
  display:none;
}
.write_div p video:not(.written_dccon) {
  display:none;
}