#sizer {
  display:block;
  font-weight:bold;
  font-size: 13px;
  color: #3b4890;
  outline: solid 2px #3b4890;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.write_div div img:not(.written_dccon), .write_div div video:not(.written_dccon),
.write_div p img:not(.written_dccon), .write_div p video:not(.written_dccon) {
  max-width: 7.5%;
  filter: blur(2.5px) invert(100%);
}
.write_div div img:not(.written_dccon):hover, .write_div div video:not(.written_dccon):hover,
.write_div p img:not(.written_dccon):hover, .write_div p video:not(.written_dccon):hover {
  max-width: 25%;
  filter: blur(2.5px) invert(100%);
}
.imgThumbnail {
  filter: blur(0px) invert(100%) !important;
  max-width: 100% !important;
}