#sizer {
  display:block;
  font-weight:bold;
  font-size: 13px;
  color: #3b4890;
  outline: solid 2px #3b4890;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.write_div div img:not(.written_dccon) {
  max-width: 10%;
  filter:blur(5px);
  /* display:none; */
}
.write_div div video:not(.written_dccon) {
  max-width: 10%;
  filter:blur(5px);
  /* display:none; */
}
.write_div p img:not(.written_dccon) {
  max-width: 10%;
  filter:blur(5px);
  /* display:none; */
}
.write_div p video:not(.written_dccon) {
  max-width: 10%;
  filter:blur(5px);
  /* display:none; */
}
.imgThumbnail {
  filter:blur(0px) !important;
  max-width: 100% !important;
}