#sizer {
  display:block;
  font-weight:bold;
  font-size: 13px;
  color: #3b4890;
  outline: solid 2px #3b4890;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
div.write_div img:not(.written_dccon),
div.write_div video:not(.written_dccon) {
  max-width: 7.5%;
  filter: blur(2.5px);
}
div.write_div img:not(.written_dccon):hover,
div.write_div video:not(.written_dccon):hover {
  max-width: 25%;
  filter: blur(2.5px);
}
.imgThumbnail {
  filter: blur(0px) !important;
  max-width: 100% !important;
}

div.write_div .safeDCdark {
  max-width: 7.5%;
  filter: blur(2.5px) invert(100%) !important;
}
div.write_div .safeDCdark:hover {
  max-width: 25%;
  filter: blur(2.5px) invert(100%) !important;
}
.imgThumbnail-safeDCdark {
  max-width: 100% !important;
  filter: blur(0px) invert(100%) !important;
}