body {
  width: 500px;
  height: 250px;
  text-align: center;
}
.popcat {
  cursor: pointer;
  border-radius: 100%;
  content:url("/images/popcatA.png");
}
.popcat:active {
  content:url("/images/popcatB.png");
}
button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
