body {
  width: 200px;
  height: 80px;
  text-align: center;
}
.popcat {
  cursor: pointer;
  border-radius: 100%;
  content:url("/images/popcatA.png");
}
.popcat:active {
  content:url("/images/popcatB.png");
}
button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}